<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />

  
</head>
<body>
  <nav>
    <div class="nav-ctr">

        <div class='header-logo'>
          <img src="/images/header_logo.png" alt="header logo">
          </div>

          <div class="user-ctr" id="nav-user-ctr">
            <div class="user-image" id="nav-user-image">
            <img src="<%= user.image %>" alt="profile-image" class="circle small">
            </div>

            <div class="user-name" id="nav-user-name">
              <a href="/trips/user/<%= user._id %>"><%= user.name %></a>
              </div>
              </div>
        <!-- <div class="search-ctr">
          <form>
          <button id="search-btn">Search</button>
            <input id="search" type="text" value="Search">
          </form>
        </div>   -->
        <div class="drop-ctr" id="nav-drop-ctr">
        <a class='dropdown-trigger btn orange' href='#' data-target='dropdown'><i class="fas fa-angle-down medium"></i></a>
        </div>
        
        
        <ul class="dropdown-content" id="dropdown">
          <!-- <li><a href="/trips">All Bucket List Trips</a></li>
          <li><a href="/trips/user/<%= user._id %>">Your Bucket List</a></li> -->
          <li><a href="/auth/logout" ><p>Logout</p></a></li>
        </ul>
      
    </div>
  </nav>
  
   
