<!-- VIEWS INDEX -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Bucket List Buddy</title>
</head>


<body>

<div class="login-container">        
    <div class="login-image-ctr">
        <img src="/images/home_logo.png" alt="login logo"
        class="login-img">
    </div>

    <div class="caption-ctr">
        <h5>Create a bucket list of the places you have always wanted to visit</h5>
    </div>

    <div class="google-btn">
        <a href="/auth/google" class="btn red darken-1 btn-large">
            <i class="fab fa-google left"></i> Log In With Google
        </a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
